{% extends 'base.html' %}

{% block ust_icerik %}

{% endblock %}


{% block icerik %}
    <h3 class="page-header">Lorem impsum</h3>
    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Başlık</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tarih</th>
        </tr>
        </thead>
        {% for post in posts %}

            <tbody>

            <td><a href="/post/{{ post.id }}"> {{ post.title }}</a></td>
            <td>{{ post.author }}</td>
            <td>{{ post.date_posted }}</td>


            </tbody>
        {% endfor %}

    </table>




{% endblock %}