{% extends 'base.html' %}

{% block ust_icerik %}

{% endblock %}


{% block icerik %}

    <div id='containervh' class="container">
        <div class=" col-lg-12">
            <div class="center col-lg-10">
                <div class="col-lg-12">
                    <div class="list ">
                        <h3>Dökümanlar</h3>
                        <hr>
                        {% for post in posts.items %}
                            <div class='post'>
                                <img src="{{ url_for('static',filename='img/doc-icon.png') }}" alt="">
                                <a href='#'>{{ post.unit }}</a>
                                <p>{{ post.date_posted }}</p>

                                <p> {{ post.title }}</p>
                            </div>
                        {% endfor %}
                        <div class="pagination">
                            {% if posts.has_prev %}
                                {% if posts.prev_num==1 %}
                                    <a href="{{ url_for('post_list', page_num=posts.prev_num) }}">❮</a>
                                    <a href="#">❯</a>
                                {% else %}
                                    <a href="{{ url_for('post_list', page_num=posts.prev_num) }}">❮</a>

                                {% endif %}
                            {% endif %}
                            {% if posts.has_next %}
                                {% if posts.page==1 %}
                                    <a href="#">❮</a>
                                    <a href="{{ url_for('post_list', page_num=posts.next_num) }}">❯</a>
                                {% else %}
                                    <a href="{{ url_for('post_list', page_num=posts.next_num) }}">❯</a>

                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>





{% endblock %}