{% extends 'base.html' %}

{% block ust_icerik %}

{% endblock %}


{% block icerik %}

    <h3 class="page-header"> Words Examples</h3>

    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Unit</th>
            <th scope="col">Açıklama</th>

        </tr>
        </thead>
        {% for u in unit %}

            <tbody>
            <td><a href="/word_exercise/{{ u }}"> Unite {{ u }}</a></td>
            <td>< Açıklama</td>


            </tbody>
        {% endfor %}

    </table>


{% endblock %}