{% extends 'base.html' %}
{% from "include/formhelpers.html" import render_field %}

{% block ust_icerik %}
    <script src="{{ url_for('static', filename='js/wordcreate.js') }}"></script>

{% endblock %}


{% block icerik %}

    <form id="word_create_form" method="post">

        <h3 class="page-header">Word Create Page</h3>
        {{ render_field(form.unit,class="form-control unit" ) }}
        <div class="english_word">
            {{ render_field(form.eng_word,class="eng_input form-control eng_word float-left col-lg-11",style="margin-top:8px; margin-right:10px;" ) }}
            <span class="add_form_eng btn btn-success">+ </span>
        </div>
        <div class="new_eng_input"></div>
        <div class="turkish_word">
            {{ render_field(form.trk_word,class="trk_input form-control float-left col-lg-11",style="margin-top:8px; margin-right:10px;") }}
            <span class="add_form_tr btn btn-success">+ </span>
        </div>

        <div class="new_tr_input">

        </div>

        <input style="margin-top: 15px;" class="btn btn-info btn-block send_button" type="submit" value="Create">

    </form>


    <div style=" margin-top:50px; font-size: 24px; text-align: center" class="text-success success_status">
    </div>

{% endblock %}