{% extends 'base.html' %}

{% block ust_icerik %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" rel="script">

        var a = JSON.parse('{{ value|tojson|safe }}');

        function change_value(a) {
            const keys = Object.keys(a);
            const randIndex = Math.floor(Math.random() * keys.length);
            const randKey = keys[randIndex];
            const name = a[randKey];
            return name
        }


        $(document).ready(function () {
            var true_count = 0;
            var false_count = 0;
            var value = change_value(a);

            $this = $(this);
            var word = value.eng_word;
            var tr_word = value.turk_word;
            console.log(tr_word);

            console.log(tr_word.includes('İngilizce bilmiyorum'));

            $this.find('#value').html(word);
            $('.tebrikler ').hide();

            $('.girilen').on('keyup', function (e ) {
                e.preventDefault();
                var girilen = $this.find('.girilen').val();
                console.log('girilen: ' + girilen + ' word:' + tr_word);

                if (tr_word.includes(girilen.toLowerCase())) {

                    $('.tebrikler').show();

                    var delayInMilliseconds = 1000;

                    setTimeout(function () {
                        true_count++;
                        $('.dogru_bilinen').append(word + ' -> ' + tr_word + '</br>');
                        $('.true_count').html(true_count);
                        var new_word = change_value(a);
                        $this.find('#value').html(new_word.eng_word);
                        word = new_word.eng_word;
                        tr_word = new_word.turk_word;
                        $('.girilen').val('');
                        $('.tebrikler ').hide();

                    }, delayInMilliseconds);


                }
            });
            $('.skip').on('click', function (e) {

                var delayInMilliseconds = 1000;

                setTimeout(function () {

                    e.preventDefault();
                    $('.yanlis_bilinen').append(word + ' -> ' + tr_word + '</br>');
                    false_count++;
                    $('.false_count').html(false_count);
                    var new_word = change_value(a);
                    $this.find('#value').html(new_word.eng_word);
                    word = new_word.eng_word;
                    tr_word = new_word.turk_word;


                    $('.girilen').val('');
                }, delayInMilliseconds);
            })


        });


    </script>


{% endblock %}



{% block icerik %}

    <div class="col-12">
        <div style=" background: #35b0ab; border-radius:25px;  height: 50px; text-align: center; margin-top: 50px; "
             class="offset-lg-0 info">

            <span style="font-size: 25px; margin-top:15px; color: #f0f0f0;" id="value"> </span>

        </div>
        <div style="margin-top:50px;" class=" col-lg-8 offset-lg-2 ">
            <input placeholder="..." class="col-lg-12 girilen form-control " type="text">
            <button style="margin-top:30px;" class="skip btn btn-info btn-block  col-lg-10 offset-lg-1"> Skip</button>
        </div>


        <div style="text-align: center; margin-top: 100px;" class="">
            <p class="text-success tebrikler"> Tebrikler doğru bildiniz. </p>
        </div>


        <div class="col-lg-12">
            <div style="text-align:center" class="col-lg-6 text-success float-left dogru_bilinen"><h3
                    class="text-info page-header"> Doğru Bildikleriniz (<span class="true_count">0</span>)</h3>

            </div>
            <div style="text-align: center;" class="col-lg-6 text-danger float-left yanlis_bilinen"><h3
                    class="page-header">Yanlış Bildikleriniz (<span class="false_count">0</span>)</h3></div>
        </div>

    </div>

{% endblock %}