{% extends 'base.html' %}
{% from "include/formhelpers.html" import render_field %}

{% block ust_icerik %}

    <script type="text/javascript" rel="script">


        $(document).ready(function () {
            var input_count_tr = 1;
            var input_count_eng = 1;
            $('.add_form_tr').on('click', function (e) {
                e.preventDefault();
                input = ' <input style="margin-top:10px; margin-bottom:10px;", class="trk_input form-control float-left col-lg-11" type="text">\n';
                $('.new_tr_input').append(input);
                input_count_tr++;
            });
            $('.add_form_eng').on('click', function (e) {
                e.preventDefault();
                input = ' <input style="margin-top:10px; margin-bottom:10px;", class="eng_input form-control float-left col-lg-11" type="text">\n';
                $('.new_eng_input').append(input);
                input_count_eng++;
            });

            $('.send_button').on('click', function (e) {
                e.preventDefault();
                var tr_arr = $('.trk_input').map((i, e) => e.value).get();
                var eng_arr = $('.eng_input').map((i, e) => e.value).get();
                if (tr_arr.includes('')) {
                    for (i = 0; i < tr_arr.length; i++)
                        if (tr_arr[i] == '')
                            tr_arr.splice(i, input_count_tr);
                }
                if (eng_arr.includes('')) {
                    for (i = 0; i < eng_arr.length; i++)
                        if (eng_arr[i] == '')
                            eng_arr.splice(i, input_count_eng);
                }

                var unit = $('.unit').val();
                if (eng_arr == "" || tr_arr == '' || unit == '') {
                    alert('Tüm boşlukları doldurmalısnız !!! ');
                } else {
                    var create = 1;
                    $.ajax({
                        url: '/word_create',
                        data: {
                            'tr_value': tr_arr.toString(),
                            'eng_value': eng_arr.toString(),
                            'unit': unit,
                            'create': create,
                        },
                        success: function (data) {
                            var txt = eng_arr + ' Başarı ile eklendi';
                            $('.success_status').html(txt);
                            $('.eng_word').val('');
                            $('.trk_input').val('');
                        }
                    });
                }
            });

        });


    </script>

{% endblock %}


{% block icerik %}

    <form id="word_create_form" method="post">

        <h3 class="page-header">Word Create Page</h3>
        {{ render_field(form.unit,class="form-control unit" ) }}
        <div class="english_word">
            {{ render_field(form.eng_word,class="eng_input form-control eng_word float-left col-lg-11",style="margin-top:8px; margin-right:10px;" ) }}
            <span class="add_form_eng btn btn-success">+ </span>
        </div>
        <div class="new_eng_input"></div>
        <div class="turkish_word">
            {{ render_field(form.trk_word,class="trk_input form-control float-left col-lg-11",style="margin-top:8px; margin-right:10px;") }}
            <span class="add_form_tr btn btn-success">+ </span>
        </div>

        <div class="new_tr_input">

        </div>

        <input style="margin-top: 15px;" class="btn btn-info btn-block send_button" type="submit" value="Create">

    </form>


    <div style=" margin-top:50px; font-size: 24px; text-align: center" class="text-success success_status">
    </div>

{% endblock %}