{% extends 'base.html' %}

{% block ust_icerik %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" rel="script">
        var a = JSON.parse('{{ value|tojson|safe }}');
        var question_type = 'karisik_sor';
        var word_number = 0;

        function change_value(a) {
            var key = '';
            const keys = Object.keys(a);
            if (question_type == "karisik_sor") {
                const randIndex = Math.floor(Math.random() * keys.length);
                key = keys[randIndex];
            } else {
                key = keys[word_number];
                word_number++;
                if (word_number >= keys.length)
                    word_number = 0;
            }
            const name = a[key];
            return name
        }

        var true_count = 0;
        var false_count = 0;
        var question = '';
        var q_answer = '';

        function change_question(working_type, value) {
            if (working_type == 'eng_tr') {
                question = value.eng_word;
                q_answer = value.turk_word;
            } else {
                question = value.turk_word;
                q_answer = value.eng_word;
            }
            if (question.length > 1) {
                var show_question = question[0];
                for (i = 1; i < question.length; i++) {
                    show_question += ', ' + question[i];
                }
                $this.find('#value').html(show_question);
            } else {
                $this.find('#value').html(question);
            }
        }

        $(document).ready(function () {

            var working_type = $('input[name=options]:checked').val();
            var value = change_value(a);
            $this = $(this);
            change_question(working_type, value);
            $('.tebrikler ').hide();

            $('#languageForm input').on('change', function () {
                working_type = $('input[name=options]:checked', '#languageForm').val();
                if (working_type == 'tr_eng') {
                    $('.eng-tr-label').removeClass("active");
                    $(".tr-eng-label").addClass("active");
                    change_question(working_type, value)

                } else {
                    $('.tr-eng-label').removeClass("active");
                    $(".eng-tr-label").addClass("active");
                    change_question(working_type, value);
                }
            });

            $('#questionTypeForm input').on('change', function () {
                question_type = $('input[name=options]:checked', '#questionTypeForm').val();
                if (question_type == 'karisik_sor') {
                    $('.sirayla_sor_label').removeClass("active");
                    $(".karisik_sor_label").addClass("active");
                } else {
                    $('.karisik_sor_label').removeClass("active");
                    $(".sirayla_sor_label").addClass("active");
                }
            });


            $('.answer').on('keyup', function (e) {
                    e.preventDefault();
                    var answer = $this.find('.answer').val();
                    if (q_answer.includes(answer.toLowerCase())) {
                        $('.tebrikler').show();
                        true_count++;
                        $('.dogru_bilinen').prepend(question + ' -> ' + q_answer + '</br>');
                        $('.true_count').html(true_count);
                        value = change_value(a);
                        change_question(working_type, value);

                        $('.answer').val('');
                        var delayInMilliseconds = 1000;
                        setTimeout(function () {
                            $('.tebrikler ').hide();
                        }, delayInMilliseconds);
                    }
                }
            );

            $('.skip').on('click', function (e) {
                e.preventDefault();

                $('.yanlis_bilinen').prepend(question + ' -> ' + q_answer + '</br>');
                false_count++;
                $('.false_count').html(false_count);
                var value = change_value(a);
                change_question(working_type, value);
                $('.answer').val('');
                var delayInMilliseconds = 1000;
                setTimeout(function () {
                    //kelime gösterilecek
                }, delayInMilliseconds);
            });


        });
    </script>


{% endblock %}



{% block icerik %}

    <div class="col-12">


        <div style="margin-top: 20px;" class=" row h-100 justify-content-center align-items-center">
            <div class="btn-group">
                <form id="languageForm">
                    <label class="btn btn-info eng-tr-label active">
                        <input type="radio" name="options" id="eng_tr" value="eng_tr" autocomplete="off" checked> Eng-Tr
                    </label>
                    <label class="btn btn-info tr-eng-label">
                        <input type="radio" name="options" class="tr_eng" value="tr_eng" autocomplete="off"> Tr-Eng
                    </label>

                </form>
            </div>


        </div>
        <div style="margin-top: 5px;" class="row h-100 justify-content-center align-items-center">
            <form id="questionTypeForm">
                <label class="btn btn-info karisik_sor_label active">
                    <input type="radio" name="options" id="karisik_sor" value="karisik_sor" autocomplete="off" checked>
                    Karışık Sor
                </label>
                <label class="btn btn-info sirayla_sor_label">
                    <input type="radio" name="options" id="sirayla_sor" value="sirayla_sor" autocomplete="off"> Sırayla
                    Sor
                </label>

            </form>
        </div>


        <div style=" background: #35b0ab; border-radius:25px;  height: 50px; text-align: center; margin-top: 50px; "
             class="offset-lg-0 info">

            <span style="font-size: 25px; margin-top:15px; color: #f0f0f0;" id="value"> </span>

        </div>
        <div style="margin-top:50px;" class=" col-lg-8 offset-lg-2 ">
            <input placeholder="..." class="col-lg-12 answer form-control " type="text">
            <button style="margin-top:30px;" class="skip btn btn-info btn-block  col-lg-10 offset-lg-1"> Skip</button>
        </div>


        <div style=" height: 25px; text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <p class="text-success tebrikler"> Tebrikler doğru bildiniz. </p>
        </div>


        <div class="col-lg-12">
            <div style="text-align:center" class="col-lg-6 text-success float-left "><h3
                    class="text-info page-header"> Doğru Bildikleriniz (<span class="true_count">0</span>)</h3>
                <div class="dogru_bilinen"></div>
            </div>
            <div style="text-align: center;" class="col-lg-6 text-danger float-left "><h3
                    class="page-header"> Bilemedikleriniz (<span class="false_count">0</span>)</h3>
                <div class="yanlis_bilinen"></div>
            </div>
        </div>

    </div>

{% endblock %}